<li
  class="list"
  role="button"
  tabindex="0"
  [ngClass]="{editing: isEditing()}"
  (dblclick)="openTaskDetailInformation()"
  (keydown.enter)="openTaskDetailInformation()">
  <div
    class="item"
    [ngClass]="{deadline : daysToDeadline <= 2}">
    <div class="item__header">
      <mat-icon>star_border</mat-icon>
      @if (!isEditing()) {
      <p class="item__header__text">{{ task().title }}</p>
      <mat-icon
        class="color"
        (click)="setTaskInEditMode()"
        >edit</mat-icon
      >
      } @if (isEditing()) {
      <ng-container>
        <input
          class="edit"
          type="text"
          [value]="editingText"
          (keyup)="changeText($event)"
          (keyup.enter)="changeTask()" />
      </ng-container>
      }
    </div>
    <div class="item__footer">
      <div class="item__footer__information">
        <mat-icon class="disable">person</mat-icon>
        @if (getDeadline()) {
        <p>{{ getDeadline() }}</p>
        } @else { <mat-icon class="disable">date_range</mat-icon>}
      </div>
      <button
        #actionButton
        class="delete"
        type="submit"
        (click)="deleteTask()">
        <mat-icon class="color">delete_forever</mat-icon>
      </button>
    </div>
  </div>
</li>
