<li
  class="list"
  role="button"
  tabindex="0"
  (dblclick)="openTaskDetailInformation()"
  (keydown.enter)="openTaskDetailInformation()">
  <div
    appStyleChange
    class="item"
    [daysForDeadline]="daysToDeadline"
    [taskStatus]="task().status">
    <div class="item__header">
      <mat-icon>star_border</mat-icon>
      <p class="item__header__text">{{ task().title }}</p>
    </div>
    <div class="item__footer">
      <div class="item__footer__information">
        <div class="item-assigned-user">
          @if (task().assignedTo) { @for (user of task().assignedTo; track
          user.id) {
          <img
            alt="avatar"
            height="20"
            mat-card-md-image
            ngSrc="{{user.photoURL}}"
            style="object-fit: cover; border-radius: 50%; aspect-ratio: 1"
            width="20" />
          } } @else {
          <mat-icon class="disable">person</mat-icon>
          }
        </div>

        @if (getDeadline()) {
        <p> {{ getDeadline() }} </p>
        } @else { <mat-icon class="disable">date_range</mat-icon>}
      </div>
      <button
        #actionButton
        aria-label="Delete task"
        class="delete"
        matTooltip="{{ 'TOOLS.DELETE' | translate }}"
        matTooltipPosition="right"
        type="submit"
        (click)="deleteTask()">
        <mat-icon class="color">delete_forever</mat-icon>
      </button>
    </div>
  </div>
</li>
