<li
  class="list"
  role="button"
  tabindex="0"
  (click)="openTaskDetailInformation()"
  (keydown.enter)="openTaskDetailInformation()">
  <div class="item">
    <div class="item__header">
      <mat-icon
        appStatusTask
        [taskStatus]="task().status"
        >radio_button_checked
      </mat-icon>
      <p class="item__header__text">{{ task().title }}</p>
    </div>
    <div class="item__footer">
      <div class="item__footer__information">
        <div class="assigned-users">
          @if ((task().assignedTo?.length || 0) > 0) {
          <div class="avatar-container">
            @for (user of task().assignedTo; track user.id) {
            <img
              alt="avatar"
              class="avatar"
              height="20"
              ngSrc="{{user.photoURL}}"
              style="--index: {{ $index }}"
              width="20"
              [matTooltip]="user.displayName" />
            }
          </div>
          @if (task().assignedTo?.length! > 1) {
          <span> + {{ (task().assignedTo?.length || 0) - 1 | number }} </span>
          } } @else {
          <mat-icon class="disable">person</mat-icon>
          }
        </div>
      </div>

      @if (task().status === 'done') {
      <mat-icon
        class="done"
        [matTooltip]="'NOTIFICATION.COMPLETE' | translate">
        done_all
      </mat-icon>
      } @else { @if (getDeadline()) {
      <p
        appStyleChange
        [task]="task()">
        {{ getDeadline() }}
      </p>
      } @else {
      <mat-icon class="disable">date_range</mat-icon>
      } }
    </div>
  </div>
</li>
