:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 65px 0;

  h1 {
    line-height: 120%;
    text-align: center;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 32px;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #6d6e6f;
  }

  mat-form-field {
    margin: 1rem 0 0;
  }

  .section-title {
    font-size: 1rem;
  }

  mat-card-header {
    justify-content: center;
  }

  mat-card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.register-card {
  box-sizing: border-box;
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  padding: 24px 56px 40px;
}

.social-buttons {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 24px 0;

    & > * {
      width: 100%;
    }
  }
}

.register-form {
  &__full-width {
    width: 100%;
  }
}

.text-sm {
  font-size: 14px;
  font-weight: 400;
}

.err-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-actions {
  &__submit-button {
    margin: 24px 0 0;

    button {
      width: 100%;
    }
  }
}
