<mat-card
  appearance="outlined"
  class="register-card">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "REGISTER_PAGE.TITLE" | translate }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="social-buttons__container">
      <div class="social-buttons__item">
        Continue with your Google work account
      </div>
      <div class="social-buttons__item"> Continue with GitHub account</div>
    </div>

    <div class="social-buttons__separator">OR</div>

    <h3>{{ "REGISTER_PAGE.SUBTITLE" | translate }}</h3>

    <form
      class="register-form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
      <mat-form-field class="register-form__full-width">
        <mat-label>{{ 'REGISTER_PAGE.LABEL_USERNAME' | translate }}</mat-label>
        <input
          formControlName="username"
          matInput
          placeholder="{{ 'REGISTER_PAGE.LABEL_USERNAME' | translate }}"
          type="text" />
      </mat-form-field>

      @if (form.get("username")?.invalid && form.get("username")?.touched) {
      <mat-error>{{ getErrorMessage("username") }}</mat-error>
      }

      <mat-form-field class="register-form__full-width">
        <mat-label>{{ 'REGISTER_PAGE.LABEL_EMAIL' | translate }}</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="{{ 'REGISTER_PAGE.LABEL_EMAIL' | translate }}"
          type="email" />
      </mat-form-field>

      @if (form.get("email")?.invalid && form.get("email")?.touched) {
      <mat-error>{{ getErrorMessage("email") }}</mat-error>
      }

      <mat-form-field class="register-form__full-width">
        <mat-label>{{ 'REGISTER_PAGE.LABEL_PASSWORD' | translate }}</mat-label>
        <input
          formControlName="password"
          matInput
          placeholder="{{ 'REGISTER_PAGE.LABEL_PASSWORD' | translate }}"
          [type]="hide() ? 'password' : 'text'" />
        <button
          matIconButton
          matSuffix
          type="button"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
          (click)="visibilityToggle($event)">
          <mat-icon matSuffix>
            {{ hide() ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>
      </mat-form-field>

      @if (form.get("password")?.invalid) { @if (form.get("password")?.touched)
      {
      <mat-error>{{ getErrorMessage("password") }}</mat-error>
      }

      <div class="text-sm err-message">
        @if (form.get("password")?.dirty) {
        <mat-error
          [appHighlightMessage]="controlValidity('^(?=.*[A-Z])')
            ? colorValid
            : colorError">
          {{ 'REGISTER_PAGE.ERROR_MESSAGE.UPPERCASE' | translate }}
        </mat-error>
        <mat-error
          [appHighlightMessage]="controlValidity('(?=.*[a-z])')
            ? colorValid
            : colorError">
          {{ 'REGISTER_PAGE.ERROR_MESSAGE.LOWERCASE' | translate }}
        </mat-error>
        <mat-error
          [appHighlightMessage]="controlValidity('(.*[0-9].*)')
            ? colorValid
            : colorError">
          {{ 'REGISTER_PAGE.ERROR_MESSAGE.DIGIT' | translate }}
        </mat-error>
        <mat-error
          [appHighlightMessage]="controlValidity('(?=.*[!@#$%^&*])')
            ? colorValid
            : colorError">
          {{ 'REGISTER_PAGE.ERROR_MESSAGE.SPECIAL_CHAR' | translate }}
        </mat-error>
        <mat-error
          [appHighlightMessage]="controlValidity('.{8,}')
            ? colorValid
            : colorError">
          {{ 'REGISTER_PAGE.ERROR_MESSAGE.CHARS_LONG' | translate }}
        </mat-error>
        }
      </div>
      } @if (form.invalid) {
      <mat-error>{{ errorMessage }}</mat-error>
      }

      <div class="form-actions__submit-button">
        <button
          matButton="filled"
          type="submit">
          {{ "REGISTER_PAGE.ACTION_SUBMIT" | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
