<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="sidebar"
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="isMobile() ? false : isSidebarOpen()">
    <app-sidebar />
  </mat-sidenav>
  <mat-sidenav-content>
    @if (isMobile()) {
    <button
      aria-label="Toggle sidebar"
      class="menu-button mobile"
      mat-icon-button
      type="button"
      [matTooltip]="'SIDEBAR.TOGGLE' | translate"
      (click)="toggleSidebar()">
      <mat-icon>
        {{ sidenav.opened ? 'arrow_back_ios' : 'arrow_forward_ios' }}
      </mat-icon>
    </button>
    } @if (!isMobile()) {
    <button
      aria-label="Toggle sidebar"
      class="menu-button"
      mat-icon-button
      type="button"
      [matTooltip]="
          (isSidebarOpen() ? 'SIDEBAR.CLOSE' : 'SIDEBAR.OPEN') | translate
        "
      (click)="toggleSidebar()">
      <mat-icon
        >{{ isSidebarOpen() ? 'arrow_back_ios' : 'arrow_forward_ios'
        }}</mat-icon
      >
    </button>
    }
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
