<section>
  <div class="board">
    <div class="board__column">
      <h2 class="board__column__title">{{ 'BOARD.NEW_TASKS' | translate }}</h2>
      @if (toDoTasks().length === 0) {
      <p>{{ 'EMPTY_STATE.NO_TASKS' | translate }}</p>
      }
      <div class="board__column__content">
        <app-task-header />
        <ul>
          @for (task of toDoTasks(); track task.id) {
          <app-task-list-item [task]="task" />
          }
        </ul>
      </div>
    </div>
    <div class="board__column">
      <h2 class="board__column__title">{{ 'BOARD.INPROGRESS' | translate }}</h2>
      <div class="board__column__content">
        <ul>
          @for (task of inProgressTasks(); track task.id) {
          <app-task-list-item [task]="task" />
          }
        </ul>
      </div>
    </div>
    <div class="board__column">
      <h2 class="board__column__title">{{ 'BOARD.DONE' | translate }}</h2>
      <div class="board__column__content">
        <ul>
          @for (task of doneTasks(); track task.id) {
          <app-task-list-item [task]="task" />
          }
        </ul>
      </div>
    </div>
  </div>
</section>
