:host {
  .drop-list {
    position: relative;
    height: 100%;
  }
}

/* Style the element being dragged */
.cdk-drag-preview {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: rotate(5deg);
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
}

/* Style the empty space where a card was lifted from */
.cdk-drag-placeholder {
  background-color: #f0f0f0;
  border-radius: 4px;
  opacity: 0.6;
  transition: opacity 300ms ease;
}

/* Apply a transition to other cards when they shift position */
.drop-list.cdk-drop-list-dragging .drag-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  overflow-x: auto;
  padding: 3rem 0;

  &__column {
    padding: 1.2rem;
    width: 32rem;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    background-color: var(
      --mat-card-elevated-container-color,
      var(--mat-sys-surface-container-low)
    );
    border-color: var(
      --mat-card-elevated-container-color,
      var(--mat-sys-surface-container-low)
    );
    border-radius: var(
      --mat-card-elevated-container-shape,
      var(--mat-sys-corner-medium)
    );

    &__title {
      border-radius: 8px;
      background-color: var(--mat-sys-on-primary);
      padding: 1.2rem;
      font-size: 2rem;
      font-weight: 500;
    }

    &__content {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      height: 100%;

      & ul {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
      }
    }
  }
}

.empty-tasks {
  color: rgba(14, 14, 14, 0.6);
  text-align: center;
  padding: 16px 0;
}

.enter-animation {
  animation: slide-fade 0.5s ease-in-out;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
