<section>
  <div class="board">
    <div class="board__column">
      <h2 class="board__column__title">{{ 'BOARD.NEW_TASKS' | translate }}</h2>
      <div class="board__column__content"><app-task-body /></div>
    </div>
    <div class="board__column">
      <h2 class="board__column__title">{{ 'BOARD.INPROGRESS' | translate }}</h2>
      <div class="board__column__content"></div>
    </div>
    <div class="board__column">
      <h2 class="board__column__title">{{ 'BOARD.DONE' | translate }}</h2>
      <div class="board__column__content"></div>
    </div>
  </div>
</section>
