@use '../../styles/placeholders' as *;

.card {
  width: 330px;
  border: 2px solid var(--mat-sys-primary);
  border-radius: 10px;
  @extend %transition;

  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 7px grey;
    background-color: var(--mat-sys-surface-container);

    a {
      color: var(--mat-sys-primary);
    }
    mat-card-title-group {
      color: var(--mat-sys-primary);
    }
  }
}

:host ::ng-deep .mat-mdc-card-title {
  font-size: 20px;
  font-weight: 500;
}

:host ::ng-deep .mat-mdc-card-subtitle {
  font-size: 18px;
  font-weight: 400;
}

.card a {
  text-decoration: none;
  color: black;

  &:hover {
    color: var(--mat-sys-primary);
  }
}
