<header>
  <nav>
    <button
      matButton="tonal"
      type="button">
      <a routerLink="/">Main page</a>
    </button>
    <button
      matButton="tonal"
      type="button">
      <a routerLink="/login">Login page</a>
    </button>
    <button
      matButton="tonal"
      type="button">
      <a routerLink="/register">Register page</a>
    </button>
  </nav>
</header>

<main class="main">
  <mat-card class="content-card">
    <h1>{{ 'HOME.TITLE' | translate }}</h1>
    <h2>{{ testConnection() }} work</h2>
    <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
    <app-language-switcher />
  </mat-card>
</main>
