<header>
  @if (authService.currentUser() === null) {
  <nav>
    <button
      matButton="tonal"
      type="button">
      <a routerLink="/">Main page</a>
    </button>
    <button
      matButton="tonal"
      type="button">
      <a routerLink="/login">Login page</a>
    </button>
    <button
      matButton="tonal"
      type="button">
      <a routerLink="/register">Register page</a>
    </button>
  </nav>
  } @if (authService.currentUser()) {
  <div>
    <h2>Registration works:</h2>

    @if (authService.user$ | async; as user) {
    <h3>Good afternoon, {{ user.displayName }}</h3>
    <img
      alt="User photo"
      height="50"
      ngSrc="{{ user.photoURL }}"
      width="50" />
    <span [style.color]="'grey'">{{ user.email }}</span>
    }

    <button
      type="button"
      (click)="logout()"
      >Logout
    </button>
  </div>
  }
</header>

<main class="main">
  <mat-card class="content-card">
    <h1>{{ 'HOME.TITLE' | translate }}</h1>
    <h2>{{ testConnection() }} work</h2>
    <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
    <app-language-switcher />
  </mat-card>
</main>
