:host {
  .project-title__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3rem 0;
  }

  &[data-actions-expand='false'] {
    @media (max-width: 800px) {
      .project-title__container {
        flex-direction: column;

        mat-form-field {
          width: 100%;
        }

        .actions {
          width: 100%;
          justify-content: end;
        }
      }
    }
  }

  mat-label,
  input,
  button {
    font-size: 16px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.project-title-group {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 24px;
    height: 24px;
  }
}
