@use '../../style/abstract/placeholders' as *;

.card {
  width: 270px;
  border: 2px solid var(--mat-sys-primary);
  border-radius: 10px;
  @extend %transition;

  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 7px grey;
    background-color: var(--mat-sys-surface-container);

    a {
      color: var(--mat-sys-primary);
    }
    mat-card-title-group {
      color: var(--mat-sys-primary);
    }
  }

  &__image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    background-repeat: round;
    background-size: cover;
    border-radius: 50%;
  }
}

:host ::ng-deep .mat-mdc-card-title-group {
  margin-bottom: 1.5rem;
}

:host ::ng-deep .mat-mdc-card-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

:host ::ng-deep .mat-mdc-card-subtitle {
  font-size: 1.8rem;
  font-weight: 400;
}

.card a {
  text-decoration: none;
  color: black;

  &:hover {
    color: var(--mat-sys-primary);
  }
}
