<link
  href="https://avatars.githubusercontent.com"
  rel="preconnect" />

<mat-card
  appearance="outlined"
  class="card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ name() }}</mat-card-title>
      <mat-card-subtitle>{{ position() }}</mat-card-subtitle>
      <img
        alt="avatar"
        class="card__image"
        height="50"
        mat-card-md-image
        ngSrc="{{ image() }}"
        priority
        width="50" />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <a
      target="_blank"
      [href]="gitHub()"
      >gitHub {{ name() }}</a
    >
  </mat-card-content>
</mat-card>
