:host.board__column__todo {
  .progress-bar {
    background-color: rgba(61, 161, 255, 0.25);
  }
}

:host.board__column__in-progress {
  .progress-bar {
    background-color: rgba(240, 160, 0, 0.25);
  }
}

:host.board__column__done {
  .progress-bar {
    background-color: rgba(52, 168, 83, 0.2);
  }
}

.progress-bar {
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 100%;
  width: 0;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      width: 48px;
      display: flex;
      align-items: center;
    }
  }
}

.progress-bar-container {
  width: 100%;
  height: 48px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 8px 0;
}

.progress-animation {
  animation: progressAnimation 0.8s ease-in-out;
}

@keyframes progressAnimation {
  from {
    transform: scaleX(0);
    opacity: 0.5;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
