// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  @include mat.tooltip-overrides(
    (
      supporting-text-size: 14px,
      supporting-text-line-height: 100%,
    )
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color-scheme: light dark;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.dialog-overrides(
    (
      container-elevation-shadow: 0px 0px 1px 1px grey,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables

  font-family: Roboto, 'Helvetica Neue', sans-serif;

  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  --mat-icon-bg: rgba(0, 0, 0, 0.5);

  .mat-drawer-content {
    overflow: unset;
  }
}

body.dark-theme {
  color-scheme: dark;

  @include mat.theme(
    (
      color: mat.$blue-palette,
      tertiary: mat.$violet-palette,
    )
  );

  // Override specific background colors using CSS custom properties
  --mat-icon-bg: #e4e4e4;
  --mat-sys-surface: #232327;

  // Custom elements style
  a {
    color: inherit;
  }

  mat-card {
    border: 1px solid #3c3c3c;
  }

  .project-card {
    &:hover {
      background-color: var(--mat-sys-surface);
    }
  }

  .rs-link {
    &:hover {
      box-shadow: 0 2px 2px grey;
    }
  }

  .board__column__title {
    background-color: inherit;
  }

  .board {
    .header {
      background-color: inherit;
    }

    .empty-tasks {
      color: grey;
    }

    app-task-list-item {
      .item {
        border: 1px solid #3c3c3c;
        background-color: #2a2a2a;

        .todo {
          color: #3da1ff;
        }

        &:hover {
          box-shadow: none;
          background-color: var(--mat-sys-surface);
        }
      }
    }
  }

  .progress-bar-container {
    background-color: var(--mat-sys-surface);
  }

  .board__column__todo {
    .progress-bar-container {
      .progress-bar {
        background-color: #3da1ff;
      }
    }
  }

  .board__column__in-progress {
    .progress-bar-container {
      .progress-bar {
        background-color: #d29922;
      }
    }
  }

  .board__column__done {
    .progress-bar-container {
      .progress-bar {
        background-color: #34a853;
      }
    }
  }

  .task__details {
    .todo {
      border-color: #3da1ff;
    }
  }

  .project-owner__container {
    border: 1px dashed #3c3c3c;

    span {
      color: inherit !important;
    }
  }

  app-project-owner {
    .user-name {
      color: inherit;
    }
  }

  .sidebar {
    background-color: #2a2a2a;

    .sidebar-content {
      .home-button {
        background-color: inherit;

        &:hover {
          background-color: #2a2a2a;
        }
      }
    }
  }

  @include mat.card-overrides(
    (
      elevated-container-color: #2a2a2a,
      outlined-container-color: rgba(64 123 255 / 10%),
      outlined-outline-color: #3c3c3c,
      subtitle-text-color: inherit,
    )
  );
}
