<p>main works!</p>
<h1>{{ 'HOME.TITLE' | translate }}</h1>
<p>
  FoxFlow is an intuitive task management application designed to streamline
  your workflow and enhance productivity. FoxFlow allows you to easily create,
  organize, and prioritize tasks, ensuring that you stay on top of your
  projects. Collaborate seamlessly with team members, set deadlines, and track
  progress in real-time, making it the perfect tool for individuals and teams
  looking to optimize their task management experience.
</p>
