button[mat-icon-button] {
  color: inherit;
  font-size: 1.6rem;
  &:hover {
    background-color: var(--mat-icon-bg-hover);
  }
}

mat-menu {
  min-width: 80px;
}

.mat-icon {
  color: var(--mat-icon-bg);
}
